.App {
    text-align: center;
}

header h1 {
    text-transform: uppercase;
}

.choosePet {
    display: flex;
    justify-content: space-around;
}

.catTeam, .dogTeam {
display: flex;
flex-direction: column;
align-items: center;
}

.catTeam button, 
.dogTeam button,
.catSection button,
.dogSection button {
    width: 100px;
    margin: 20px auto;
    background-color: skyblue;
}

.catSection,
.dogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catSection img,
.dogSection img {
    width: 300px;
}
